@import "../../global.scss";

.projects {
    /*background-color: #5f225d;*/
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 50px;
    }

    ul {
        margin: 10px;
        padding: 0;
        display: flex;
        list-style: none;

        li {
            font-size: 16px;
            margin-right: 20px;
            padding: 7px;
            border-radius: 10px;
            cursor: pointer;

            &.active {
                background-color: black;
                color: white;
            }
        }
    }
}