.card {

    &:hover {
        transform: scale(1.1);
    }

    transition: all 1s ease;
    margin: 10px;
    width: 250px;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -8px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-color: white;

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
        text-align: center;
        height: 20%;
    }

    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        height:50%;
    }

    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height:30%;

        a {
            text-decoration: none;
            background-color: #dccccf;
            border-radius: 10px;
            padding: 10px;
            color: inherit;
            margin-bottom: 5px;
            &:hover {
                background-color: #9d9194;
            }
        }
    }
}